.pet-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pet-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.pet-details p {
  margin: 5px 0;
}